.item__position {
    position: relative;
    top: 40px;
}

.link:hover {
    cursor: pointer;
    color: rgba(216, 13, 243, 0.555);
}

.ArrowBack_icon{
  color: #eeeeee;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
  padding-top: 5px;
}

body {
    /* Old browsers */
    background: #141E30;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #35577D, #209bc1);
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: rgb(246, 238, 248);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 24px;
    font-size: 50px;
    font-weight: 50;
  }

  span {
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    width: 70%;
  }

  h3 {
    color: #ccc;
    font-weight: 100;
    font-size: 35px;
    line-height: 45px;
    padding-bottom: 50px;
    text-align: center;
    width: 85%;
    display: flex;
    padding-left: 300px;
    font-weight: 50;
  }

  .title {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    line-height: 30px;
    /* padding-left: 5px; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(188, 220, 235);
    line-height: 1.3em;
    text-align: left;
    padding-left: 30px;    
  }

  .container {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(188, 220, 235);
    line-height: 1.3em;
    text-align: left;
    font-size: 21px;
    padding-right: 100px;
    padding-left:35px;
    display: flex;
    align-items: center;
  } 

  .Tatiana_container {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(188, 220, 235);
    line-height: 1.3em;
    text-align: left;
    font-size: 21px;
    padding-right: 100px;
    padding-left:35px;
    display: flex;
    align-items: center;
  } 

  .Zach_container {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(188, 220, 235);
    line-height: 1.3em;
    text-align: left;
    font-size: 21px;
    padding-right: 100px;
    padding-left: 35px;
    display: flex;
    align-items: center;
  } 

  .Zach{
    align-items: left;
  }
  h2 {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    line-height: 24px;
    text-align: left;
    font-style: italic;
    /* padding-left: 25px; */
    width:100%;

  }
  
  .linkedIn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    padding-left: 5px;
  }

  .vision {
      color: rgb(246, 238, 248);
      text-align: center;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      line-height: 24px;
      font-size: 65px;
      font-weight: 50;
  }
 

