.MuiTextField-root {
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
}

.searchbar {
    text-align: center;
    width: 20%;
    height: auto;
}

.dmChat__searchbar {
    position: fixed;
    left: 3rem;
}

.text__align {
    text-align: center;
    margin: auto;
}


/* p {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 0;
    padding-bottom: .5rem;
    padding-top: .5rem;
} */


.new-message-input-field {
    max-height: 50%;
    font-size: 1.3em;
    padding: 8px 12px;
    resize: none;
    position: fixed;
    bottom: 2rem;
    left: 32rem;
}

.send-message-button {
    font-size: 28px;
    font-weight: 600;
    color: white;
    background: #31a24c;
    padding: 21px 12px;
    border: none;
    position: fixed;
    bottom: 2rem;
    left: 48rem;
}