.paper__style {
  width: 15rem;
  min-height: 60vh;
  padding: 1rem 3rem 3rem 3rem;
  margin: 3rem;
}

.item__position {
  position: relative;
  top: 40px;
}

.link:hover {
  cursor: pointer;
  color: aqua;
}

.person__icon {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.invalid__credentials {
    background-color: red;
    border-radius: 10%;
    padding: 1rem;
    margin-bottom: 0;
}

.caption {
    position: absolute;
    bottom: -5px;
    right: 22px;
}
