.message {
    padding: 10px;
    margin: 12px;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message__userCard {
    background-color: #27a7fc !important;
}

.message__guestCard {
    background-color: #d0d0fae5 !important;
}
